*, *:before, *:after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    font-family: 'Roboto Light', sans-serif;
}
a {
    text-decoration: none !important;
    /*color: inherit;*/
    color: white;
}
main {
    min-height: 100vh;
}

html, body{
    width: 100%;
    height: 100%;

}
/* header start*/
header {
    width: 100%;
    background: #fff;
    box-shadow: 0 0 8px rgba(0,0,0,0.6);
}
.header {
    width: 100%;

    display: flex;
    background: #fff;
    justify-content: space-between;
    padding: 5px 20px;
}
.container {
    margin: auto;
    max-width: 1040px;
}
.logo img:first-child {
    width: 257px;
}
.logo img:last-of-type {
    width: 157px;
}
.logo img:last-child {
    display: none;
}
.logo {
    display: flex;
    align-items: center;
}
.navbar {
    display: flex;
    align-items: center;
}
.navbar nav {
    display: flex;
    justify-content: space-between;
}
.nav-link {
    color: #2d2d2d;
    padding: 15px 25px;
    font-size: 1.3em;
    -webkit-transition: all linear .2s;
}
.nav-link:hover {
    color: white;
    transition:.5s ;
    background: #2d2d2d;
}

.wrapper {
    position: absolute;
    overflow-x: hidden;
    z-index: 99999;
}
.main {
    position: fixed;
    left: 100%;
    top: 0;
    width: 74%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #2d2d2d;
    transition: .5s;
    transform: translateX(0%);
}
.menu_active {
    transform: translateX(-100%);
}
.menu-list {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 50%;
    flex-direction: column;

}
.menu-list a {
    padding: 10px;
    width: 100%;
    font-size: 25px;
    text-align: left;
    color: #fff;
}
.menu-list a:active {
    background: #2d2d2d;
    transition: .5s;
}
.menu {
    display: none;
    height: 40px;
    z-index: 9999;
}
.menu-button {
    display: none;
    align-items: center;
    z-index: 9999;
}
.menu:before {
    vertical-align: middle;
    display: inline-block;
    content: '';
    background: url("../images/list.svg") no-repeat center center;
    width: 40px;
    height: 40px;
    margin-right: 10px;


}
.close:before {
    position: absolute;
    content: '';
    background: url("../images/cancel.svg") no-repeat center center /contain;
    width: 32px;
    height: 38px;
    filter: invert(1);
    left: 80%;
    float: right;
    top: 20px;
}


@media(max-width: 920px){
    .menu {
        display: block;
    }
    .menu-button {
        display: flex;
    }
    .navbar {
        display: none;
    }
    .logo img:first-child {
        display: none;
    }

    .logo img:last-child {
        display: block;
    }
}

/* header end */



/* slider start */
.banner {
    width: 100%;
    height: 85vh;
    position: relative;
}
#slides {
    position: absolute;
    width: 100%;
    height: 85vh;
    padding: 0px;
    margin: 0px;
    list-style-type: none;
}
 
.slide {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 85vh;
    opacity: 0;
    z-index: 1;
 
    -webkit-transition: opacity 1s;
    -moz-transition: opacity 1s;
    -o-transition: opacity 1s;
    /* transition: opacity 1s; */
}
 
.showing {
    opacity: 1;
    z-index: 2;
}
.slide {
    box-sizing: border-box;
    height: 85vh;
    background: #333;
    color: #fff;
}
 
.slide:nth-of-type(1) {
    background: url(../images/slider/slide1.jpg) no-repeat center center;
    background-size: 100%;
    
}
.slide:nth-of-type(2) {
    background: url(../images/slider/slide2.jpg) no-repeat center center;
    background-size: 100%;
}
.slide:nth-of-type(3) {
    background: url(../images/slider/slide3.jpg) no-repeat top center;
    background-size: 100%;
}
.slide:nth-of-type(4) {
    background: url(../images/slider/slide4.jpg) no-repeat center center;
    background-size: 100%;
}
.slide:nth-of-type(5) {
    background: url(../images/slider/slide6.jpg) no-repeat center center;
    background-size: 100%;
}


.black-back {
    background: #161616;
    position: absolute;
    width: 100%;
    height: 85vh;
    opacity: .4;
    z-index: 8000;
}
.sponsor {
    position: absolute;
    width:100%;
    z-index: 9000;
    height: 70vh;
    background: url(../images/логотип\ без\ БФТ.png) no-repeat center center /contain;
    top:50px;

}
@media(max-width: 920px){
    .banner {
        display:none;
    }
}

/* slider end */

.banner-title p {
    margin: 0 auto;
    color: #fff;
    z-index: 9999;
    font-weight: 0;
    font-size: 31px;
}
.banner-title h1 {
    margin: 0 auto;
    color: #fff;
    z-index: 9999;
    font-weight: 0;
}
.about-us {
    padding: 50px 30px;
    max-width: 1024px;
    margin: 30px auto 100px;
    border-bottom: 2px solid #b3b3b3;
    border-top: 2px solid #b3b3b3;
}

.titles {
    text-align: center;
    padding-bottom: 20px;
    color: #2d2d2d
}
.text{
   line-height: 35px;
   font-size: 21px;
   padding: 20px 0;
}
.film {
   padding: 40px 0;
   margin: 0 auto;
   max-width: 1024px;
}
.film > div {
   max-width: 1020px;
   margin: 0 auto;
   padding: 0 30px;
}
.about-us > div {
   text-align: center;
   padding: 40px 0 0;
} 
.request {
   color: white;
   background: #2d2d2d;
   padding: 10px 20px;
   border: 1px solid #fff;
   border-radius: 5px;
   cursor: pointer;
   font-size: 24px;
   text-align: center;
   margin: 0 auto;
   -webkit-transition: all linear .2s;

}

.request:hover {
   background: white;
   color: #2d2d2d;
   border: 2px solid #2d2d2d;
   transition:.3s ;
}

.gps {
    margin: 50px auto;
}
.gps > div:last-child {
    padding: 40px 30px 0;
    max-width: 1024px;
    margin: 0 auto;
}

footer {
    padding: 20px 0;
    width: 100%;
    background: #2d2d2d;
}
.footer-content{
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;


}

.footer-links a:not(:last-child) {
    padding: 0 20px 0 0;
    
}
.footer-links img {
    -moz-transition: all .5s ease-out;
    -o-transition: all .5s ease-out;
    -webkit-transition: all .5s ease-out;
}
.footer-links img:hover {
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -o-transform: scale(1.2);
}

.instagram {
    width: 32px;
    height: 32px;

}
.youtube {
    width: 35px;
    height: 35px;

}
.vk {
    width: 35px;
    height: 35px;
}

.footer-content div {
    height: 100%;
    width: 300px;
    text-align: center;

}
.footer-content div {
    color: #fff;
}
p {
    margin-bottom: 0 !important;
}

.footer-sponsor img{
    width: 200px;
}

@media(max-width: 920px){
    .footer-content {
        display: flex;
        flex-direction: column;
    }
    .footer-content div {
        padding: 20px 0;
    }

}

.contacts p{
    font-size: 1.5em;
    line-height: 40px;
}
.mail {
    color: #2d2d2d;
}












.slider {
    width: 100%;
    max-width: 1024px;
    margin: 0 auto 100px;
    height: 70vh;
    position: relative;
    overflow: hidden;
  }

  .slider__wrapper {
    display: flex;
    transition: transform 0.6s ease;
  }

  .slider__item {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .slider__control {
    position: absolute;
    top: 50%;
    display: none;
    align-items: center;
    justify-content: center;
    width: 40px;
    color: #fff;
    text-align: center;
    opacity: 0.5;
    height: 50px;
    transform: translateY(-50%);
    background: rgba(0, 0, 0, .5);
  }

  .slider__control_show {
    display: flex;
  }

  .slider__control:hover,
  .slider__control:focus {
    color: #fff;
    text-decoration: none;
    outline: 0;
    opacity: .9;
  }

  .slider__control_left {
    left: 0;
  }

  .slider__control_right {
    right: 0;
  }

  .slider__control::before {
    content: '';
    display: inline-block;
    width: 20px;
    height: 20px;
    background: transparent no-repeat center center;
    background-size: 100% 100%;
  }

  .slider__control_left::before {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
  }

  .slider__control_right::before {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
  }

  .slider__item>div {

    font-size: 100px;
    text-align: center;
  }




.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background: #FFFFFF;

}
.bg {
    width: 100%;
    height: 100%;
    padding: 0 10px 10px ;
}
.gallery img {
    width: 325px;
    height: 200px;
    -moz-transition: all .5s ease-out;
    -o-transition: all .5s ease-out;
    -webkit-transition: all .5s ease-out;

}
.gallery-img {
    width: 325px;
    height: 200px;
    overflow:hidden;
    margin: 6px;
    /* padding: 6px; */
}
/* .gallery img:hover { */
    /* box-shadow: 0 0 10px rgba(0,0,0,0.5);
    transition: .5s; */
    /* -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1); */
/* } */
.title-header {
    margin-top: 30px;
}
.tab-content {
    padding: 10px 0 0 0 ;
}

